p {
  color: red;
}

.note {
  font-size: 20px;
}

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

 #id-selector-demo {
  color: green;
}

 .note[value="4"]
 {color: blue;
}

 *{
  text-align: center
 }
 

.oswald-[abc] {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
/* Write your CSS below, don't change the rules above. */
