.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 36px;
}
.card{
    background-color: aquamarine;
    
}

.first{
    grid-column: span 2;
}
@media(max-width:680px){
    .card{
        background-color: blueviolet;
    }
    .first{
        grid-column: span 2;
    }
    .fo{
        grid-column: span 2;
    }
    .fiv{
        grid-column: span 2;
    }
}