html{
    background-color: black;
    color:white;
  }
img{
    border: 5px solid white;
    margin-top:20%;
    width:100%;
  }

div{width:50%;
  margin-left:25%; 
  font-family: "Libre Baskerville", serif ;    
  }

  h1{
    text-transform: uppercase;
text-align: center;
font-size: 40px;

}

p{
font-family: "Libre Baskerville", serif;
font-size: 15px;
font-style: normal;
text-align: center;
}